
#Mlyasnikov seedbox

#Secrets
# trakt.login
# trakt.pass
# lost.cookie
secrets: secrets.yml #paswords and account info

templates:
  global:
    transmission:
      host: server.f6.lan
      path: /srv/share/downloads
    
    regexp:
      reject:
        - (s|d)ub(s|bed)?\b: {from: title}                    # Block any subbed/dubbed/etc videos
        - \bspanish\b: {from: title}                          # Spanish releases kept cropping up
        - \b(duo|tri|quadri|tetra|penta)logy\b: {from: title} # Block series, only accept one at a time
        - \b3-?D\b: {from: title}                             # I don't have any 3D displays
        - \btrailer\b: {from: title}                          # I've gotten a few trailers that matched as movies. VERY annoying
        - \bR5\b: {from: title}                               # The following are poor quality types that somehow got through the quality
        - \bWEBSCR\b: {from: title}                           # features usually due to the title including a keyword like "720p" as well
        - \bscreener\b: {from: title}
        - \bTS\b: {from: title}
        - \bCam\b: {from: title}
        - '{C_P}': {from: title}                              # The following are groups with poor quality releases
        - TrTd TeaM: {from: title}
        - \[TNTVillage\]: {from: title}
        - \[facepalm\]: {from: title}
        - \bASAP\b: {from: title}
        - the.day.of.the.doctor                               # The following are titles that caused me issues from plugins
    
    # Require at least 10 seeds of any torrent
    torrent_alive:
      min_seeds: 10
      reject_for: 1 day
    
    # Filter by filenames. Allow multiple video types and rar packs (but note if there is just a
    # single .rar file it won't be accepted)
    content_filter:
      require:
        - '*.avi'
        - '*.mkv'
        - '*.mpg'
        - '*.mp4'
      reject:
        - 'password.txt'
        - '*.wmv'
   
    # The Pirate Bay ssl certs always fail
    verify_ssl_certificates: no
    # Size and seed restrictions require real torrents
    magnets: no
    
  
  tv-global:
    configure_series:
      from:
        trakt_list:
          username: "{{ secrets.trakt.login }}"
          password: "{{ secrets.trakt.pass }}"
          list: Follow
          type: shows
      settings:
        quality: <720p
    transmission:
      path: /srv/share/downloads/series/{{ series_name }}

    thetvdb_lookup: yes
  
  movies-global:
    verify_ssl_certificates: no 
    quality: <=720p
    
    content_size:
      min: 12
      max: 2000
      strict: no

    movie_queue: accept
    transmission:
      path: /srv/share/downloads/movies

  over-global:
    verify_ssl_certificates: no
    transmission:
      path: /srv/share/downloads/


tasks:

  #Conetent:
  
  # series
  #   local 
  #   nnm-club.me dl list
  #   lostfilm.tv
  #
  # movies
  #   local
  #   nnm-club.me dl list
  #   nnm-club.me global list
  #   rutraker.org global list
  #
  # over
  #   local
  #   nnm-club.me dl list
  #
  # service tasks
  # scheldure
  
  
  #get torrent from local folder
  #not check for series ep num or so, just download torrent 
  local.series:
    priority: 10
    template:
      - tv-global
    disable:
      - seen
      - seen_info_hash
      - retry_failed
      - configure_series
      - trakt_list
      - inputs
      - exists_series
      - regexp
      - content_size
      - torrent_alive

    find:
      path: '/home/vfrc2/'
      regexp: '.*\.torrent$'
      recursive: yes
    
    no_entries_ok: yes
    
    plugin_priority:
      exec: 0
    
    exec:
      on_output:
        for_accepted: rm "{{location}}"
    
    accept_all: yes

  #from lostfilm.tv main series feed
  series.lostfilm.tv:
    priority: 11
    headers:
      cookie: '{{ secrets.lost.cookie }}'
    rss: http://www.lostfilm.tv/rssdd.xml

    manipulate:
      - title:
          from: url
      - title:
          replace:
            regexp: 'https://www\.lostfilm\.tv/download\.php.+&((.*)((s|S)\d\d(e|E)\d\d)(.*))\.torrent'
            format: '\2 \3 \6'
      - title:
          replace:
            regexp: '\.'
            format: ' '
    
    urlrewrite:
      sitename:
        regexp: 'http://lostfilm.tv/download.php\?(?P<details>.*)'
        format: 'http://www.lostfilm.tv/download.php?\g<details>'
    
    template:
      - tv-global
  
  #second series feed, emit only selected torrents, need just for grouping
  series.nnm-club.me.dl:
    priority: 10
    rss: "http://nnm-club.me/forum/rss2.php?f=1219,768,769&r&dl={{ secrets.nnm-club.dl }}&h=24"
    disable:
      - seen
      - seen_info_hash
      - retry_failed
      - configure_series
      - trakt_list
      - inputs
      - exists_series
      - regexp
      - content_size
      - torrent_alive
      
    no_entries_ok: yes
    accept_all: true
    template:
      - tv-global    
    
  # local movie feed
  local.movies:
    priority: 20
    template:
      - movies-global
    disable:
      - seen
      - seen_info_hash
      - retry_failed
      - configure_series
      - trakt_list
      - inputs
      - exists_series
      - regexp
      - content_size
      - torrent_alive
      - movie_queue
      - quality
      - content_size

    filesystem:
      path: '/home/vfrc2/' #movie folder
      regexp: '.*\.torrent$'
      recursive: yes

    no_entries_ok: yes

    plugin_priority:
      exec: 0

    exec:
      on_output:
        for_accepted: rm "{{location}}"

    accept_all: yes
  
  #Movies accept without filter, just for groouping
  movies.nnm-club.me.dl:
    priority: 20
    rss: "http://nnm-club.me/forum/rss2.php?f=216,318,220,224&r&dl={{ secrets.nnm-club.dl }}&h=24"
    template:
      - movies-global
    disable:
      - seen
      - seen_info_hash
      - retry_failed
      - configure_series
      - trakt_list
      - inputs
      - exists_series
      - regexp
      - content_size
      - torrent_alive
      - movie_queue
      - quality
      - content_size
    
    no_entries_ok: yes
    accept_all: yes
    
  #Movies from global feed filtred by movie_queue
  movies.nnm-club.me:
    priority: 21
    rss: "http://nnm-club.me/forum/rss2.php?f=216,318,220,224&r&h=24"
    
    manipulate:
      - title:
          extract: '.+?\s+/(.*)'
          
    template:
      - movies-global
      
      
  local.over:
    priority: 30
    template:
      - over-global
    disable:
      - seen
      - seen_info_hash
      - retry_failed
      - configure_series
      - trakt_list
      - inputs
      - exists_series
      - regexp
      - content_size
      - torrent_alive
      - movie_queue

    filesystem:
      path: '/home/vfrc2/' #over folder
      regexp: '.*\.torrent$'
      recursive: yes

    no_entries_ok: yes

    plugin_priority:
      exec: 0

    exec:
      on_output:
        for_accepted: rm "{{location}}"

    accept_all: yes

  over.nnm-club.me.dl:
    priority: 30
    rss: "http://nnm-club.me/forum/rss2.php?dl={{ secrets.nnm-club.dl }}&h=24"
    template:
      - over-global
    disable:
      - seen
      - seen_info_hash
      - retry_failed
      - configure_series
      - trakt_list
      - inputs
      - exists_series
      - regexp
      - content_size
      - torrent_alive
      - movie_queue
    accept_all: yes
      
#Service tasks

  #service task for fillup moviequeue
  queue.movies:
    trakt_list:
      username: "{{ secrets.trakt.login }}"
      password: "{{ secrets.trakt.pass }}"
      list: watchlist
      type: movies
    accept_all: yes
    movie_queue: add

schedules:
  - tasks: [queue.*]
    interval:
      hours: 2
  - tasks: [movies.*, series.*, over.*]
    interval:
      minutes: 20
  - tasks: [local.*]
    interval:
      minutes: 1

    
  
  


    
    
    

  
